body{
background-color:lightseagreen;
text-align: center;
}

#apps
{
background-color: lightseagreen;
font-family: monospace;
}
#games
{
background-color: lightseagreen;
}
#chatbot
{
background-color: lightseagreen;
}